


@import url('https://fonts.googleapis.com/css2?family=Jomolhari&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jomolhari&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jomolhari&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body {
    font-family: "Jomolhari", serif;
    background-color: #ffffff;

}

/* Estios para telas menores (celular) */
@media(max-width:768px) {
    body {
        font-family: "Inter",sans-serif;
        font-size: 14px;


    }




}