@import url('https://fonts.googleapis.com/css2?family=Jomolhari&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jomolhari&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jomolhari&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Jomolhari", serif;
    background-color: #ffffff;

}

fieldset {
    height: 66px;
    width: 422px;
    border-radius: 10px;
    margin-top: 19px;
    margin-bottom: 19px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
}

legend {
    font-family: "Inter", sans-serif;
    font-size: 19px;

}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

main div {
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
    min-width: 700px;
}

input {
    height: 30px;
    width: 100%;
    border: 0;
    outline: none;
    font-size: 20px;
    box-sizing: border-box;

}



button {
    height: 46px;
    width: 423px;
    border-radius: 25px;
    font-size: 24px;
    background-color: blue;
    color: white;
    border: 0;
    margin-top: 25px;
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

header {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
    font-family: "Inter";
    font-style: "Regular";
    color: #0059ff;
}

header h2 {
    color: rgba(0, 0, 0, 0.43);
}

figure {
    width: 422px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.face {
    width: 79px;
    height: 79px;
}

main div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div a {
    text-decoration: none;
    color: #0059ff
}

.desativado {
    color: darkgrey;
}

h2 {
    color: #0059ff;
}

/* Estios para telas menores (celular) */
@media(max-width:768px) {
    body {
        font-family: "Inter", sans-serif;
        font-size: 14px;



    }

    body,
    main,
    header,
    footer {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    fieldset,
    input,
    figure,
    button {
        width: 40vh;
    }


    h3 {
        color: #303aff;
        font-size: 36px;
        font-family: "lnter";
        width: 390px;
        height: 69px;
    }
}